:root {
  --white: #ffffff;
  --grey: #1e1e1e;
  --green: #baff38;
  --lightGrey: #818181;
  --borderGrey: #414141;
  --black: #121212;
}

body {
  background-color: var(--grey);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--lightGrey);
  margin: auto;
  padding: auto;
}

header {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px var(--borderGrey) solid;
}

h1 {
  font-size: 64px;
  margin-top: 0;
  margin-left: 8px;
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 50%;
  font-size: 9px;
  background-color: var(--greenBG);
}
.divider {
  border: none;
  border-bottom: 2px solid var(--green);
  margin: 0;
  width: 100%;
}

.one,
.two {
  margin: auto;
}

.container {
  margin: 0 95px 85px 95px;
  display: flex;
}

header {
  margin: 85px 95px 0 95px;
}
.top {
  border-bottom: 1px solid var(--borderGrey);
}

.main-article-container {
  max-width: 560px;
  padding-right: 86px;
  border-bottom: 1px solid var(--borderGrey);
  /* border: 1px solid red; */
}
.main-article-middle {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  margin-bottom: 24px;
}
.main-article-bottom {
  font-weight: 300;
  font-size: 16px;
}

.main-article-img {
  width: 560px;
  height: 310px;
  margin-top: 40px;
}
.main-article-middle-date {
  font-size: 11px;
  color: var(--green);
  margin-top: 30px;
}

.main-article-middle-content {
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--white);
}

.side-article-item-image {
  min-width: 208px;
  height: 117px;

  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  object-fit: cover;
  /* or 18px */

  color: var(--green);
}
.side-article-item {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  padding: 43px;
  padding-right: 0;
  border-left: 1px solid var(--borderGrey);
  border-bottom: 1px solid var(--borderGrey);
}
.side-article-item-top {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 12px;
  align-items: flex-start;
}

.side-article-item-top-date {
  font-weight: 600;
  font-size: 10px;
  margin: 0;
  color: var(--green);
}
.side-article-item-top-title {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  /* or 18px */

  color: var(--white);
}

.side-article-item-bottom {
  font-size: 10px;
}
.side-article-item-top:hover,
.side-article-item-top:hover > .side-article-item-top-title {
  color: var(--green);
  cursor: url("images/cursor.png"), auto;
}
.hover-items {
  display: flex;
  visibility: hidden;
  position: absolute;
  gap: 5px;
  left: -80px;
}

.hover-p {
  margin: 0;
  background-color: var(--green);
  border-radius: 100px;
  color: var(--black);
  font-size: 8px;
  font-weight: 600;
  padding: 4px 10px;
  letter-spacing: 1px;
}

.side-article-item-top:hover > .hover-items {
  visibility: visible;
}

@media (max-width: 1320px) and (min-width: 1221px) {
  .side-article-item-top {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1220px) and (min-width: 861px) {
  .side-article-item {
    display: flex;
    flex-direction: column;
  }
  .side-article-item-top {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 860px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    align-items: center;
  }
  header {
    margin: 45px 30px 0 45px;
    justify-content: center;
  }
  .side-articles-container {
    margin: 0 30px;
    max-width: 560px;
  }
  .side-article-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
  }
  .side-article-content {
    margin-top: 0;
  }

  .side-article-item-image {
    width: 560px;
    height: 310px;
    margin-top: 40px;
  }
  .side-article-item-top-date {
    font-size: 11px;
    margin-top: 30px;
  }
  .side-article-item-top-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .side-article-item-bottom {
    font-weight: 300;
    font-size: 16px;
  }
  .main-article-container {
    padding: 0;
    margin: 0;
  }
}
